import random
import sys
balance=0
balance=int(balance)
bet = 0
def choices():
  global balance, bet
  if choice == "0" :
    if balance == 0:
      print("your balance is: 0")
      deposit = int(input("enter your deposit"))
      balance = balance + deposit
      if bet == 0:
        to_the_bet = int(input("enter your bet, because you have none... "))
        bet = bet + to_the_bet
        slot_machine()
      else:
        slot_machine()
    else:
      if bet == 0:
        to_the_bet = int(input("enter your bet, because you have none... "))
        bet = bet + to_the_bet
        slot_machine()
      else: slot_machine()
    while True:
      try:
        deposit=int(input("how much do you wanna deposit? "))
        balance = balance+deposit
        print(f"your balance is : {balance}")
      except ValueError:
        print("You have not entered a valid entry")
  if choice == "1":
    try:
     deposit = int(input("how much do you want to deposit? "))
    except ValueError:
      print("invalid input")
    balance=balance+deposit
    return balance
  if choice == "2":
    print(f"your balance is: {balance}")
  if choice == "3":
    while True:
      bet = 0
      try:
       to_the_bet=int(input("enter your bet: "))
       bet = bet+to_the_bet
       print(f"your bet is: {bet}")
      except ValueError:
        print("invalid entry")
      return bet
  if choice == "4":
    print("program ends here")
    sys.exit()
  
      


def menu():
 print("IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII")
 print("IIIII- THIS IS SLOT-MACHINE -IIIII")
 print("IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII")
 print("Enter a number as an entry")
 print("0 for start")
 print("1 for deposit")
 print("2 to check your balance")
 print("3 to enter your bet")
 print("4 to end the program")
def slot_machine():
  global bet, balance

  zoznam=[]
  while True :
    zacat=input("should i start? (yes/no)").lower()
    if zacat not in ("yes","no"):
      print("invalid entry")
    elif zacat == "no":
      print(f"ending the game, your balance was: {balance}")
      sys.exit()
    else:
     if zacat == "yes" and balance >0 and balance - bet >0 :
      sign1=random.randint(1,100)
      zoznam.append(sign1)
      sign2=random.randint(1,100)
      zoznam.append(sign2)
      sign3=random.randint(1,100)
      zoznam.append(sign3)
      for sign in zoznam:
        if 1 <= sign <= 10:
         print("cherry")
        elif 11 <= sign <= 30:
         print("banana")
        elif 31<= sign <= 60:
         print("orange")
        else:
         print("apple") 
      balance = balance - bet
      print(f"your balance is: {balance}")
      if all(1 <= z <= 10 for z in (sign1, sign2, sign3)):
        balance = balance + (10*bet)
        print(f"after this win you have : {balance}")
      elif all(11 <= z <= 30 for z in (sign1, sign2, sign3)):
        balance = balance + (6*bet)
        print(f"after this win you have : {balance}")
      elif all(31 <= z <= 60 for z in (sign1, sign2, sign3)):
        balance = balance + (4*bet)
        print(f"after this win you have : {balance}")
      elif all(61 <= z <= 100 for z in (sign1, sign2, sign3)):
        balance = balance + (2*bet)
        print(f"after this win you have : {balance}")
      else: 
        print(f"you didnt win, your balance is : {balance} ")
     else:
       print("you dont have any money left")
       sys.exit()
menu()
while True:
    choice=input("Enter your choice: ")
    if choice.isdigit() and len(choice) == 1 and choice in ("0", "1", "2", "3", "4"):
      choices()
    else:
      print("invalid entry")
